<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
<!--        로그의 레벨이 단계적으로 있는데 레벨을 여러개 사용해서 콘솔에서 여러 로그들을 볼 수가 있다.-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
<!--        <Root level="trace">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Root>-->
    </Loggers>
</Configuration>

